/* Reading.css */

.reading-contest-page {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reading-contest-page h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.reading-contest-page h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
    color: #333;
}

.reading-contest-page h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #6c757d;
}

.reading-contest-page p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}


.reading-contest-page .contest-layout {
    display: flex;
    margin-top: 20px;
    background-color: white;
    gap: 10px;
}

.reading-contest-page .paragraph-content {
    overflow-y: scroll;
    padding: 15px;
    flex-basis: 40%;
    border-right: 2px solid #000;
}
.reading-contest-page .sections-content {
    flex: 1;
    overflow-y: scroll;
    padding: 15px;
    background-color: #fff;
    flex-basis: 60%;
}


.reading-contest-page label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #495057;
}

.reading-contest-page input[type="radio"],
.reading-contest-page input[type="checkbox"] {
    margin-right: 8px;
}

.reading-contest-page input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.reading-contest-page select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    margin-bottom: 15px;
    width: 15%;
}


.reading-contest-page .matching-table {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    padding: 15px;
    height: 100%;
    width: 60%;
    margin-bottom: 16px;
}



.reading-contest-page .contest-alert {
    position: relative;
    height: 300px;
    width: 450px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.reading-contest-page button {
    padding: 8px;
    background: #0077B6;
    border-radius: 8px;
    color: white;
}

.reading-contest-page .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px); 
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
  }

@media (max-width: 768px) {
    .reading-contest-page .contest-layout {
        flex-direction: column;
        gap: 10px;
    }

    .reading-contest-page .paragraph-content,
    .reading-contest-page .sections-content {
        max-height: 300px;
    }
}




