audioread
dtwalign
eng_to_ipa
epitran
flask
flask_cors
numpy==1.26.0
omegaconf
ortools
pandas
pickle-mixin
requests
sentencepiece
soundfile
sqlalchemy
torch
torchaudio
transformers
git+https://github.com/openai/whisper.git
